<h3>Enter any phrase to convert to pig latin</h3>

<input type="text" id="input" name="name" />
<button @onclick=sendTextToServer>Latetransay!</button>

<p>@response</p>


@code {
    string response;
    public string sendTextToServer() {}
}


